<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-nav fixed-top">
        <div class="container">
           
          <a class="navbar-brand text-white fs-4" href="#home"> 
            <img src="imgs/logo.png" class="w-25" alt="logo">
            EZFIN
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link text-white fs-5 me-5" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5 me-5" aria-current="page" href="#Features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5 me-5" aria-current="page" href="#prices">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-5" aria-current="page" href="#contact">Contact</a>
              </li>
              
              
            </ul>
           
          </div>
        </div>
      </nav>
      <header class="bg-white" id="home">
        <div class="container py-5 bg-white mt-5">
            <div class="row">
                <div class="col-md-6  d-flex">
                    <div class="mt-5">
                        <h1 class="my-clr fw-bold pt-5 mb-5">Take Control Of Your Finances With EZFIN</h1>
                        <button class="btn btn-dark btn-clr btn-pad fs-4 fw-bold rounded-4 my-mt" routerLink='/signup' routerLinkActive="router-link-active"> Get Started</button>

                    </div>
                    
                </div>
                <div class="col-md-4 offset-1 pb-5">
                    <div class=" header-img rounded-circle d-flex justify-content-center align-items-center ">
                       <div class="child-img rounded-circle d-flex justify-content-center align-items-center ">
                        <img src="imgs/dollar.png" class="dollar-sign w-75" alt="">
                       </div>
                    </div>
                </div>
            </div>
        </div>
      </header>

      <section class="bg-sec py-5 properties" id="Features">
        <div class="container">
            <div class="row gy-5">
                <h2 class="text-center py-5 fw-bold my-mt my-clr">Why Choose EZFIN ?</h2>
                <div class="col-md-6">
                  <div class="bg-white text-center p-5 rounded-3 bx-shad feature">
                    <img src="/imgs/money.png" alt="dollar" class="wid-img">
                    <p class="fw-bold pt-5">Stay Organized and in Control</p>
                    <p>Manage transactions easiy and track your spending</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white text-center p-5 rounded-3 bx-shad feature">
                    <img src="/imgs/bank.png" alt="dollar" class="wid-img">
                    <p class="fw-bold pt-5">Improve Expense Optimization</p>
                    <p>Identify unnecessary costs and save more money efficiently.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white text-center p-5 rounded-3 bx-shad feature">
                    <img src="/imgs/hour.png" alt="dollar" class="wid-img">
                    <p class="fw-bold pt-5">Automated Financial Insights</p>
                    <p>Receive real-time updates and analytics on your expenses.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="bg-white text-center p-5 rounded-3 bx-shad feature">
                    <img src="/imgs/lock.png" alt="dollar" class="wid-img">
                    <p class="fw-bold pt-5">Robust Security & Encryption </p>
                    <p>Your data is protected with end-to-end encryption.</p>
                  </div>
                </div>
            </div>
        </div>
      </section>

      <section class="bg-sec pt-5" id="prices">
        <div class="container bg-white rounded-4 p-5">
         <div class="inner d-flex p-3">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="my-mt">
                <p class="my-para pt-4 ps-2 fw-medium position-relative">Choose your Plan</p>
                <h2 class="fw-bold display-4">Simple pricing that works at any scale</h2>
                <p  class="pt-5 fw-medium">Enhance your team communication with the best pricing plan available in the market</p>
                
              </div>
            </div>
          </div>
          <div class=" col-md-4 offset-2 my-2">
            <div class="content container-fluid d-flex rounded-5 w-50 d-flex justify-content-between align-items-center">
              <div class="px-4 py-2 w-50">
                <span class="">monthly</span>
              </div>
              <div class="yearly px-4 w-50">
                <span class="btn btn-dark btn-clr text-white rounded-5 px-5 border-0 py-2">yearly</span>
              </div>
            </div>
            <div>
              <div class="bg-white bx-shad rounded mt-5 price">
                <p class="fw-bold text-center fs-5 p-5">Personal Use -$10/mo</p>
              </div>
            </div>
            <div>
              <div class="bg-white bx-shad rounded mt-5 price">
                <p class="fw-bold text-center fs-5 p-5">Startup -$15/mo</p>
              </div>
            </div>
            <div>
              <div class="bg-white bx-shad rounded mt-5 price">
                <p class="fw-bold text-center fs-5 p-5">Growth -$40/mo</p>
              </div>
            </div>
          </div>
         </div>
        </div>

        <div class="text-center p-5">
          <button class="btn btn-dark btn-clr fs-4 px-5 py-4"routerLink='/signup' routerLinkActive="router-link-active">Start Now</button>
        </div>

      </section>
     

      <section class="bg-nav py-3" id="contact">
        <div class="container">
          <div class="row">
            <div class="text-white d-flex justify-content-between">
            <div class="">
              <h4 class=" fw-bold">Contact us</h4>
              <span>Email: SupportEZFIN.COM</span>
            </div>
            <div class="contact-icons d-flex justify-content-evenly align-items-center">
             <div class="icon rounded-circle d-flex justify-content-center align-items-center"><a class="text-decoration-none main-color"> <i class="fa-brands fa-facebook fa-lg fs-2 "></i></a></div>
             <div class="icon rounded-circle d-flex justify-content-center align-items-center"><a class="text-decoration-none main-color"><i class="fa-brands fa-instagram fa-lg  fs-2 "></i></a></div>
             <div class="icon rounded-circle d-flex justify-content-center align-items-center"><a class="text-decoration-none main-color"> <i class="fa-brands fa-twitter fa-lg  fs-2 "></i></a></div>
             <div class="icon rounded-circle d-flex justify-content-center align-items-center"><a class="text-decoration-none main-color"><i class="fa-brands fa-linkedin fa-lg fs-2 "></i></a></div>
            </div>
            </div>
            <span class="text-white py-2 text-center">copy rights 2025 © By EZFIN All Rights Reserved</span>
          </div>
        </div>
      </section>
</body>
</html>
