.search-container {
    position: relative; 
    width: 300px; 
  }
  
  .search-input {
    width: 100%;
    padding: 10px 20px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    
  }
  
  .search-icon {
    position: absolute; 
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    color: #999;
    pointer-events: none; /* Make the icon unclickable */
  }
  .buttnClr{
    background-color: #000066;
  }

  .buttnClr2{
    color: #000066;
  }