<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center p-4">
            <div>
                <p class="fw-bold fs-4">Good Morning Sarah</p>
            </div>
          
           <div class="d-flex">
              
              <div>
                <button class="btn buttnClr text-white fs-5 text-capitalize" (click)="addTransaction()">Add capital <i class="fa-solid fa-circle-plus"></i></button>
              </div>
          
           </div>
              
           
              
        </div>
    </div>
</header>

<section class="pt-5">
   <div class="d-flex justify-content-center align-items-center pt-3 mb-5">
    <div class="d-flex justify-content-center align-items-center flex-column bg-white py-3 rounded-4 w-50 shadow fs-3">
        <p class="fw-semibold">{{Revenue}}$</p>
        <p class="text-capitalize text-secondary">current balance</p>
    </div>
   </div>
</section>

<section class="pt-5">
    <div>
        <div class="container">
            <div class="d-flex  justify-content-between align-items-baseline bg-white py-3 rounded-4 shadow fs-5 pt-4 mb-4">
                <div class="d-flex align-items-center ps-5">
                <i class="fa-solid fa-sack-dollar buttnClr2"></i>
                 <span class="ps-2">Total Revenues</span>
                </div>
                <div class="pe-4">
                    <p>$50,000</p>
                </div>
            </div>
            <div class="d-flex  justify-content-between align-items-baseline bg-white py-3 rounded-4 fs-5 pt-4 mt-4 shadow">
                <div class="d-flex align-items-center ps-5">
                    <i class="fa-solid fa-file-invoice-dollar buttnClr2"></i>
                 <span class="ps-2">Total Expenses</span>
                </div>
                <div class="pe-4">
                    <p>$30,000</p>
                </div>
            </div>
            <div class="d-flex  justify-content-between align-items-baseline bg-white py-3 rounded-4 shadow fs-5 pt-4 mt-4">
                <div class="d-flex align-items-center ps-5">
                    <i class="fa-solid fa-hand-holding-dollar buttnClr2"></i>
                 <span class="ps-2">Total Savings</span>
                </div>
                <div class="pe-4">
                    <p>$12000</p>
                </div>
            </div>
        </div>
    </div>
</section>
@if (add==true) {

    <div class="transaction p-5">
      <div class="cotainer m-auto">
        <div class="container m-auto bg-white rounded-3 shadow-sm p-5 mt-5">
          <div class="border-bottom py-2 mb-4">
            <p class="fw-bolder text-capitalize">Add  new capital Amount</p>
            <input type="number" class="form-control" [(ngModel)]="Revenue" placeholder="Enter amount" aria-label="Amount (to the nearest dollar)">
          </div>
          
          <div class=" d-flex justify-content-center mt-4">
            <button class="btn bg-secondary text-white border-0 rounded-4 px-3 py-2 me-2"(click)="cancelTransaction()" >Cancel</button>
            <button class="btn buttnClr text-white border-0 rounded-4 px-3 py-2" (click)="saveData(); cancelTransaction()" >Add</button>
          </div>
        </div>
      </div>
    </div>
}
