
h1,p{
    color: #000066;
}
.the-logo{
    width: 40px;
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.container{
    background-color: #fff;
    box-shadow: 0px 2px 10px 5px #878686;
    height: 70vh;
}
input{
    border: #000066 1px solid;
    font-weight: 500;
}
input:focus{
    border: #000066 2px solid;
}
button{
    background-color: #000066;
    color: #fff;
    transition: all 0.2s ease;
}
button:hover{
    background-color: rgba(0, 0, 102,0.8);
}
a{
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover{
    color: #000066;
    text-decoration: underline;
}