<header class="mt-1 border-bottom py-2">
    <div class="container d-flex w-100">
        <div class="col-6 w-50">
            <span class="text-capitalize fw-bolder fs-5">
                hello sarah
            </span>
            <span class="text-secondary fs-6 ps-2">
                >>may 19,2025
            </span>
        </div>
        <div class="col-6">
            <div class="container d-flex justify-content-end">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_317_276)">
                    <path d="M11.9996 22.853C12.4196 22.8433 12.8226 22.6855 13.1374 22.4073C13.4521 22.1291 13.6584 21.7486 13.7196 21.333H10.213C10.2759 21.7599 10.4918 22.1493 10.8205 22.4289C11.1491 22.7085 11.5682 22.8592 11.9996 22.853Z" fill="#666666"/>
                    <path d="M21.8996 18.7536L21.6729 18.5536C21.0299 17.9807 20.467 17.3236 19.9996 16.6003C19.489 15.602 19.1831 14.5117 19.0996 13.3936V10.1003C19.0969 9.70023 19.0612 9.3011 18.9929 8.90693C17.8636 8.67482 16.8493 8.05961 16.1216 7.16545C15.3938 6.27129 14.9975 5.15312 14.9996 4.00026V3.58026C14.3035 3.23772 13.5557 3.01247 12.7862 2.91359V2.07359C12.7862 1.83755 12.6925 1.61118 12.5256 1.44427C12.3586 1.27736 12.1323 1.18359 11.8962 1.18359C11.6602 1.18359 11.4338 1.27736 11.2669 1.44427C11.1 1.61118 11.0062 1.83755 11.0062 2.07359V2.94693C9.28338 3.18996 7.70661 4.04809 6.56705 5.36288C5.42748 6.67768 4.80205 8.36035 4.80623 10.1003V13.3936C4.72273 14.5117 4.41675 15.602 3.90623 16.6003C3.44682 17.3218 2.89303 17.9788 2.25956 18.5536L2.0329 18.7536V20.6336H21.8996V18.7536Z" fill="#666666"/>
                    <path d="M19.9996 7.33366C21.8405 7.33366 23.3329 5.84127 23.3329 4.00033C23.3329 2.15938 21.8405 0.666992 19.9996 0.666992C18.1586 0.666992 16.6663 2.15938 16.6663 4.00033C16.6663 5.84127 18.1586 7.33366 19.9996 7.33366Z" fill="#000066"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_317_276">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <input type="text" placeholder="search here" class="w-50 rounded-2 border-1 px-2 mx-3">                    
            </div> 
        </div>
    </div>
</header>
<section class="py-5 ">
    <div class="container row  py-3">
        <div class=" col-lg-4 ">
            <div class="inner">
                <p class="text-capitalize fw-bolder">total balance</p>
                <div class="d-flex justify-content-center align-items-center flex-column bg-white py-3 rounded-3 fixed-h">
                    <p class="fw-semibold fs-5">250,000$</p>
                    <p class="text-capitalize">available</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="inner">
                <p class="fw-bolder text-capitalize">goals</p>
                <div class="p-2 bg-white rounded-3 fixed-h">
                    <div class=" d-flex justify-content-between border-bottom px-2">
                        <p class="fw-bolder fs-5">20,000$</p>
                        <p>may,2023</p>
                    </div>
                    <div class="px-4">
                        <div class="border-bottom">
                            <p class="text-secondary">target achieved</p>
                            <p class="fw-bolder">$12,500</p>
                        </div>
                        <div class="">
                            <p class="text-secondary">this month target</p>
                            <p class="fw-bolder">$20,000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="inner">
                <p class="fw-bolder text-capitalize">up comming bills</p>
                <div class="bg-white rounded-3 fixed-h">
                    <div class=" d-flex p-3 border-bottom">
                        <div class="d-flex flex-column p-2 bg-body-secondary rounded-3 justify-content-center align-items-center">
                            <span>may</span>
                            <span>15</span>
                        </div>
                        <div class="d-flex justify-content-between px-3">
                            <div class="">
                                <p class="py-0 fw-bolder text-secondary">gym-monthly</p>
                                <span class="p-0 fw-light">last-charge 14 jan,2023</span>
                            </div>
                            <div class="price-border d-flex justify-content-center align-items-center rounded-3 mx-3 p-1">
                                <p class="fw-bolder pt-3">150$</p>
                            </div>
                        </div>
    
                    </div>
                    <div class=" d-flex p-3">
                        <div class="d-flex flex-column p-2 bg-body-secondary rounded-3 justify-content-center align-items-center">
                            <span>may</span>
                            <span>15</span>
                        </div>
                        <div class="d-flex justify-content-between px-3">
                            <div class="">
                                <p class="py-0 fw-bolder text-secondary">gym-monthly</p>
                                <span class="p-0 fw-light">last-charge 14 jan,2023</span>
                            </div>
                            <div class="price-border d-flex justify-content-center align-items-center rounded-3 mx-3 p-1">
                                <p class="fw-bolder pt-3">150$</p>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>