.price-border{
    border: 1px solid rgb(148, 147, 147);
}
.fixed-h{
   height: 13.125rem;
}
.fixed-h2{
    height: 21.125rem;
}
.dashboard-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }