
h1,p{
    color: #000066;
}
.myborder{
    background-color: #fff;
    box-shadow: 0px 2px 10px 5px #878686;
    
}
.the-logo{
    width: 40px;
}
input{
    border: #000066 1px solid;
    font-weight: 500;
}
input:focus{
    border: #000066 2px solid;
}
button{
    background-color: #000066;
    color: #fff;
    transition: all 0.2s ease;
}
button:hover{
    background-color: rgba(0, 0, 102,0.8);
}
