<div class="d-flex justify-content-center align-items-center m-5">
    <div class="container myborder w-75 rounded-5 p-5 d-flex flex-column justify-content-center align-items-center">
        <div class="container d-flex justify-content-between">
            <p class="fw-bolder text-capitalize">create new account</p>
            <div class="">
                <span class="mx-1">Already have an account?</span>
                <button class=" px-3 py-2 rounded-4 border-0">Login</button>
            </div>
        </div>
        <h1 class="py-3">
            <img src="imgs/logo-blue.png" class="the-logo" alt="">
            EZFIN</h1>
        <p>Your All-in-One Finance Tracker</p>
        <div class="content d-flex flex-column flex-wrap w-50">
            <input type="text" class="w-100 py-2 px-1 rounded-3 my-3 " placeholder="First Name">
            <input type="text" class="w-100 py-2 px-1 rounded-3 my-3 " placeholder="last Name">
            <input type="tel" class="w-100 py-2 px-1 rounded-3 my-3 " placeholder="Phone Number">
            <input type="email" class="w-100 py-2 px-1 rounded-3 my-3 " placeholder="E-mail">
            <input type="text" class="w-100 py-2 px-1 rounded-3 my-3" placeholder="Password">
            <input type="text" class="w-100 py-2 px-1 rounded-3 my-3" placeholder="Re-enter password">
            
        </div>
        
        <div class="w-25 my-4">
            <button class="w-100 px-5 py-2 rounded-4 border-0 " routerLink='/login' routerLinkActive="router-link-active">sign up</button>
        </div>
    
    </div>
</div>
