.search-container {
    position: relative; 
    width: 300px; 
  }
  
  .search-input {
    width: 100%;
    padding: 10px 20px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    
  }
  
  .search-icon {
    position: absolute; 
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    color: #999;
    pointer-events: none; /* Make the icon unclickable */
  }
  .buttnClr{
    background-color: #000066;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto; /* Add scrolling for large dropdowns */
  }

  .transaction{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    height: 110vh;
  
  }
  
  
  