<div class="d-flex justify-content-center align-items-center m-5">
    <div class="container w-75 rounded-5 p-3 p-lg-5 d-flex flex-column justify-content-center align-items-center">
        <h1 class="py-3 text-center">Forgot Password?</h1>
        <p class="text-center">Enter your Phone Number  to get the password reset link</p>
        <div class="content d-flex flex-column flex-wrap w-50">
            <input type="tel" class="w-100 py-2 px-1 rounded-3 my-3" placeholder="010********">
        </div>
        
        <div class="w-25 my-4">
            <button class="w-100 px-5 py-2 rounded-4 border-0 text-center">Password Reset</button>
        </div>
        <div class="align-self-center">
            <a class="" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to login</a>
        </div>
    
    </div>
</div>

