
.table-of-contents{
    background-color: #1B2A41;
    height: 110vh;
}
.logo-img{
    width:40px;
}
.select{
transition: all 0.2s ease;
}
.select:hover{
background: rgba(255, 255, 255, 0.4);
border-radius: 10px;
font-weight: 600;

}
.select-active{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    font-weight: 600;
}
